{% extends "bootstrap/base.html" %}
{% block content %} 

<html>
    <body>
        <h3> Reservations List</h3>

        <table class="table table.striped table.bordered">
        <thread class="bg.success">

            <td>Person Number</td>
            <td>Name</td>
            <td>Age</td>
            <td>Phone</td>
            <td>Email</td>
            <td>ResDate</td>

        </thread>

        {% for row in rows %} 
            <tr>
                <td>{{row["ReservationID"]}}</td>
                <td>{{row["Name"]}}</td>
                <td>{{row["Age"]}}</td>
                <td>{{row["Phone"]}}</td>
                <td>{{row["Email"]}}</td>
                <td>{{row["ResDate"]}}</td>
            </tr>
        {% endfor %}
        </table>

        <a href ="/"> Return to Main Page</a>
        {% endblock %}

    </body>
</html>