{% extends "bootstrap/base.html" %}
{% block content %} 
<!doctype html>
<html>
    <body>
        <img src = "/static/logo.png" alt="UB logo" >
        <h2> Reservations List</h2>

        <table class="table table.striped table.bordered">
        <thread class="bg.success">

            <td>Person Number</td>
            <td>Name</td>
            <td>Age</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Resrvation Date</td>

        </thread>

        {% for row in rows %} 
            <tr>

                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
        </table>

        <h4> <button> <a href = "/" class="button button.outline.primary button.lg">Return to Main Menu</a></button></h4>
        {% endblock %}

    </body>
</html>