{% extends "bootstrap/base.html" %}
{% block content %} 

<html>
    <body>
        <img src = "/static/logo.png" alt="UB logo" >
        <form action = "{{url_for('result')}}" method = "POST">
            <h2> Room Reservation Form</h2>
            <h4>
            <label for = "ReservationID"> Person Number: </label>
            <input type ="number" id="id" name="ReservationID">
            <br>

            <label for = "Name"> Guest Name: </label>
            <input type = "text" id="name" name="Name">
            <br>

            <label for = "Age"> Age: </label>
            <input type ="number" id="age" name="Age">
            <br>            

            <label for = "Phone"> Phone: </label>
            <input type ="text" id="phone" name="Phone">
            <br>

            <label for = "Email"> Email: </label>
            <input type ="text" id="email" name="Email">
            <br>

            <label for = "ResDate"> Reservation Date: </label>
            <input type ="date" id="date" name="ResDate">
            <br></h4>

            <h4><input type = "submit" value = "Submit Form"/> </h4>
            
            <h4><button><a href="/" class="button button.outline.primary button.lg"> Return to Main Page</a></button></h4>
            <h4><button><a href="/invoice" class="button button.outline.primary button.lg"> Show All Reservations </a> </button></h4>

        </form>
        {% endblock %}
    </body>
</html>