{% extends "bootstrap/base.html" %}
{% block content %}

<html>
    <body>
        <img src = "/static/logo.png" alt="UB logo" >
        <h2> Our Group Study and Individual Study Rooms</h2>

        <h3>Room 01</h3>
        <img src = "/static/room1.jpg" alt="Room 1" >
        <h4>Seating: 10 Capacity <br>
            One LCD screen, wifi, USB ports and electrical outlets.<br>
           Accessible Friendly: Yes <br>
           Power Available: Yes </h4>
           <br>

        <h3>Room 02</h3>
        <img src = "/static/room2.jpg" alt="Room 2" >
        <h4>Sesating: 6 Capacity <br>
            One LCD screen, wifi, USB ports and electrical outlets.<br>
            Accessible Friendly: Yes <br>
            Power Available: Yes </h4>      
            
        <h3>Room 03</h3>
        <img src = "/static/room3.jpg" alt="Room 3" >
        <h4>Sesating: 14 Capacity <br>
        One LCD screen, wifi, USB ports and electrical outlets.<br>
        Accessible Friendly: Yes <br>
        Power Available: Yes </h4>

        <h3>Room 04</h3>
        <img src = "/static/room4.jpg" alt="Room 4" >
        <h4>Sesating: 14 Capacity <br>
        One LCD screen, wifi, USB ports and electrical outlets.<br>
        Accessible Friendly: Yes <br>
        Power Available: Yes </h4>
           

        <h4> <button> <a href = "/" class="button button.outline.primary button.lg">Return to Main Menu</a></button></h4>
        <h4><button><a href="/register" class="button button.outline.primary button.lg"> Reserve a Room </a></button></h4> 
        <h4><button><a href="/invoice" class="button button.outline.primary button.lg"> Show All Reservations </a></button></h4>

        {% endblock %}

    </body>
</html>